@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&family=Roboto+Condensed:wght@300;400;700&display=swap");

$font-family-monserrat: "Monserrat", sans-serif;
$font-family-raleway: "Raleway", sans-serif;
$font-family-roboto: "Roboto Condensed", sans-serif;

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
