@import "./utilities/index";

.visuallyhidden {
  @include visually-hidden;
}

html {
  scroll-behavior: smooth;
  @include hide-scrollbars;
}

body {
  background-color: $body-color;
  @include text-format(
    $font-family-monserrat,
    $font-weight-bold,
    12,
    $font-color,
    normal
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}