@import "../../css/utilities/index";

$bgcolor-base: #333;
$bgcolor-tile1: #ffb6a3;
$bgcolor-tile2: #f5d1c3;
$bgcolor-tile3: #f0bc68;
$bgcolor-tile4: #aab8bb;
$bgcolor-tile5: #c4d7d1;
$bgcolor-tile6: #f6d97c;
$button-background: rgba(255, 255, 255, 0.8);
$border-color: #333;
$border-img: 1px solid #bebebe;
$font-color: #333;
$padding: 20px;

.visuallyhidden {
  @include visually-hidden;
}

.projects {
  flex-grow: 1;
  @include flexbox(column, flex-start, flex-start);
  list-style-type: none;
  position: relative;
  width: 100%;

  > li {
    background-size: 100% 200%;
    color: $font-color;
    cursor: pointer;
    font-weight: $font-weight-regular;
    position: relative;
    width: 100%;

    .tile {
      padding: calc($padding * 2);
      overflow: hidden;

      &:after {
        background: $border-color;
        content: '';
        display: block;
        height: 10px;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;

        transition: width 0.2s linear;
      }
    }

    &:hover,
    &:focus {
      z-index: 1;

      .tile:after {
        width: 100%;
      }
    }

    h3 {
      background: rgba(255, 255, 255, 0.5);
      font-size: 5vw;
      padding: $padding calc($padding*2);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    p {
      line-height: 1.5rem;
      padding-bottom: $padding;
    }

    ul {
      list-style-type: disc;
      margin-left: calc($padding);

      li {
        padding-bottom: calc($padding/5);
      }
    }

    @include mq($from: tablet) {
      h3 {
        @include font-size(22);
      }
    }

    @include mq($from: small-screen) {
      .tile {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        bottom: 0;
        top: auto;

        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-duration: 0.2s;
        animation-name: fadeIn;

        transition: fadeIn 0.5s ease-in-out;

        &:after {
          bottom: 0;
          top: auto;
        }
      }

      h3 {
        background: none;
      }
    }
  }

  @include mq($from: small-screen) {
    flex-direction: row;
    flex-flow: row wrap;
    height: 100%;
    width: 70vw;

    > li {
      will-change: transform;

      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-duration: 0.2s;
      animation-name: slideUp;

      transition: slideUp 0.5s ease-in-out, openPopup 0.3s ease-in-out;
      flex-grow: 1;
      height: 50vh;
      width: 33%;
    }
  }
}

.screenshots {
  @include flexbox(row, flex-start, flex-start);
  flex-wrap: wrap;

  img {
    border: $border-img;
    @include box-shadow(3px, 4px, 4px, 1px, 0.1);
  }

  .img {
    height: 0;
    width: 0;
    opacity: 0;

    img {
      height: auto;
    }

    &:first-child {
      height: auto;
      width: 100%;
      opacity: 1;
      text-align: right;

      img {
        height: 30vh;
        width: auto;
      }
    }
  }

  @include mq($from: tablet) {
    .img:first-child {
      padding-left: 20vw;

      img {
        height: 40vh;
      }
    }
  }

  @include mq($from: small-screen) {
    flex-direction: row;

    .img:first-child {
      padding-left: 0;

      img {
        height: 30vh;
      }
    }
  }
}

:global {
  .details {
    height: 0;
    opacity: 0;
  }

  .projectTile {
    &1 {
      background: $bgcolor-tile1;

      @include mq($from: small-screen) {
        @include slide-background($bgcolor-base, $bgcolor-tile1);
        @include text-border($bgcolor-tile1);
      }
    }

    &2 {
      background: $bgcolor-tile2;

      @include mq($from: small-screen) {
        @include slide-background($bgcolor-base, $bgcolor-tile2);
        @include text-border($bgcolor-tile2);
      }
    }

    &3 {
      background: $bgcolor-tile3;

      @include mq($from: small-screen) {
        @include slide-background($bgcolor-base, $bgcolor-tile3);
        @include text-border($bgcolor-tile3);
      }
    }

    &4 {
      background: $bgcolor-tile4;

      @include mq($from: small-screen) {
        @include slide-background($bgcolor-base, $bgcolor-tile4);
        @include text-border($bgcolor-tile4);
      }

    }

    &5 {
      background: $bgcolor-tile5;

      @include mq($from: small-screen) {
        @include slide-background($bgcolor-base, $bgcolor-tile5);
        @include text-border($bgcolor-tile5);
      }
    }

    &6 {
      background: $bgcolor-tile6;

      @include mq($from: small-screen) {
        @include slide-background($bgcolor-base, $bgcolor-tile6);
        @include text-border($bgcolor-tile6);
      }
    }
  }

  li .closedetails {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 0;
    padding: calc($padding * 2);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    &:before,
    &:after {
      content: "";
      display: block;
      margin-top: -4px;
      width: calc($padding * 2);
      height: 4px;
      background: #000;
      border-radius: 1px;
    }

    &:before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    @include mq($from: small-screen) {
      position: fixed;
    }
  }

  li.closed {
    height: 0;
    display: none;

    @include mq($from: small-screen) {
      display: list-item;
      opacity: 0;
    }
  }

  li.open {
    cursor: default;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;

    transition: width 0.2s ease;

    h3 {
      background: none;
      padding: 0 0 $padding 0;
      position: static;
    }

    .details {
      height: auto;
      opacity: 1;
    }

    :local {
      .tile {
        @include flexbox(column, flex-start, flex-start);
        flex-wrap: wrap;
        overflow-y: auto;
      }

      .tile:after {
        display: none;
      }

      .text {
        padding-bottom: $padding;
        width: 100%;
      }

      .screenshots {
        padding-bottom: $padding;
        gap: $padding;
        width: 100%;

        .img {
          height: auto;
          width: auto;
          opacity: 1;

          img {
            height: 30vw;
            max-width: 100%;
          }
        }

        .img:first-child {
          text-align: left;

          img {
            max-height: none;
            width: auto;
          }
        }
      }

      @include mq($from: tablet) {
        .screenshots {
          .img:first-child {
            padding-left: 0;
          }
        }
      }

      @include mq($from: small-screen) {
        .tile {
          flex-direction: row;
        }

        .text {
          padding-right: $padding * 2;
          width: 50%;
        }

        .screenshots {
          flex-direction: row;
          width: 50%;

          .img img {
            height: 20vw;
          }
        }
      }
    }

    .closedetails {
      display: block;
      z-index: 3;
    }

    @include mq($from: small-screen) {
      position: absolute;
    }
  }
}

@for $i from 1 through 6 {
  .projects > li:nth-of-type(#{$i}) {
    animation-delay: #{0.3 + calc(($i) / 4)}s;
  }

  .projects > li:nth-of-type(#{$i}) .tile {
    animation-delay: #{1.8 + calc(($i) / 4)}s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}